
body { background-color: #E4F5E5; }

hr {
   border-style: dotted none none;
   border-width: 3px;
   border-color: grey;
   height: : 0px;
   width: 50%;    }
h1 { color: #66BFBF}
h2 { color: #66BFBF}
