
body { background-color: #E4F5E5;
      font-size: 20px;
       font-family: "Times New Roman", Times, serif;
      }
head { border padding: 10px;
      margin:10px;
      font-size: 30px;
      }
hr {
   border-style: dotted none none;
   border-width: 3px;
   border-color: grey;
   height: : 0px;
   width: 50%;    }
h1 { color: #666dbf;}
h2 { color: #66BFBF;}

ul, li {margin-left: 15px; 
        padding-left: 15px;
        list-style-type: ">";
        line-height: 1.2em; 
        margin-bottom: 10px;}
img:hover {
  background-color: #93B5E1
}
p {
  padding-left: 50px;
}

.personal {background-color: #E4F5E5; }
.external {background-color: #A6DFDE; }
.circular { border-radius: 100%;}
/* This is for id */
#heading { color: #93B5E1 ;}
#bigfont {font-size: 50px;
          text-align: center;
          }
/* #child {
  width: 1600;
} */

img {
  height:auto;
  width: auto;
} 
